@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

body{
    background-image: url(imagens/abstractbg4.jpg);
    /*background-image: url(imagens/sep09.jpg);*/
    /*background: linear-gradient(68.15deg, #0D1B2A 16.62%, #415A77 85.28%);*/

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

    /* CONTAINER */

.back-apresentação{
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
	width: 1500px;
    height: 530px;
	margin: 50px auto 0px auto;
    margin-left: 200px;
	border-radius: 4px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	padding: 25px;
    margin-top: 140px;
}

    /* MENU */

.cabeçalho {
    
    
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    overflow: hidden;
    }
    
.cabeçalho a {

    

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 0px solid #333;
    transition: all 0.4s;
    }
    
.cabeçalho a:hover {
    background-color: #ddd;
    color: black;
    }
    
.cabeçalho a.active {
    background-color: #04AA6D;
    color: white;
    }

    /* IMAGEM PRINCIPAL*/

.imagem-perfil{
    position: absolute;
    
    left: 1200px;
    top: 230px;
    /*margin-left: 1200px;*/
    width: 350px;
    box-shadow: 0px -5px 60px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

    /* CONTEÚDO*/

.apresentação-conteúdo-nome{
    position: absolute;
    font-family: 'Righteous';
    left: 330px;
    top: 200px;
    font-size: 56px;
    color: #f2f2f2;
    
    text-shadow: 0px 0px 80px  rgba(255, 255, 255, 0.6) ;
    
}

.apresentação-conteúdo-apresentação{
    position: absolute;
    font-family: 'Sarala';
    left: 330px;
    top: 380px;
    font-size: 30px;
    color: #f2f2f2;

}

.rodapé{
    position:relative;
    
    height: 160px;
    
    
    bottom: 0;
    
    width: 100%;
    text-align: center;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
}

.QUIEL{
    position: absolute;
    font-family: 'Righteous';
    color: #f2f2f2;
    margin-left: 780px;
    margin-top: 54px;
    /*margin-right: 300px;*/

    text-shadow: 0px 0px 80px  rgba(255, 255, 255, 0.6) ;

}


.linha-rodapé{
    position: relative;
    bottom: 0;
    margin-bottom: -84px;

    width: 110px;
    height: 0px;
    margin-left: 890px;
    margin-top: 200px;
    /*left: 960px;
    top: 956px; */

    z-index: 1;

    border: 1px solid #FFFFFF;
    transform: rotate(90.52deg);
}

.gmail{
    position: absolute;
    text-decoration: none;
    
    width: 50px;
    left: 1010px;
    top: 65px;
    /*margin-top: 60px;
    margin-left: 310px;
    */   
}

.wpp{
    text-decoration: none;
    
    position: absolute;
    width: 30px;
    left: 1230px;
    top: 65px;
    
}

.github{
    text-decoration: none;
    
    position: absolute;
    width: 40px;
    left: 1090px;
    top: 60px;
}

.linkedin{
    
    position: absolute;
    width: 35px;
    left: 1160px;
    top: 60px;
    
}

.back-trabalho-e-projetos{
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
	width: 1500px;
    height: 930px;
	margin: 50px auto 0px auto;
    margin-left: 200px;
	border-radius: 4px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
	padding: 25px;
    margin-top: 100px;
    margin-bottom: 500px;

}

.trabalho-e-projetos{
    color: #ffffff;
    border-radius: 10px;
    box-sizing: 20px;

}

.escrita-trabalho-e-projetos{
    
    padding: 10px;
    position: absolute;
    margin-top: -1400px;
    margin-left: 770px;
    font-size: 40px;
    color: rgb(20, 20, 20);
    background: #f2f2f2;
    font-family: 'Righteous';
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
    
}
